.section {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.card-container {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  perspective: 1000px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  overflow: hidden;
}

.card-number {
  position: absolute;
  z-index: 10;
  color: #fff;
  top: 10px;
  left: 20px;
  font-size: clamp(20px, 10vw, 80px);
  font-family: "Orelo-sw-db", serif;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card-description {
  position: absolute;
  z-index: 10;
  color: #fff;
  bottom: 20px;
  left: 20px;
  font-size: clamp(20px, 3vw, 30px);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  font-family: "Orelo-sw-db", serif;
  text-align: left;
  max-width: 80%;
}

.card:nth-child(1) {
  transform: translateZ(0px) translateY(0px);
  z-index: 5;
}
.card:nth-child(2) {
  transform: translateZ(-50px) translateY(-10px);
  z-index: 4;
}
.card:nth-child(3) {
  transform: translateZ(-100px) translateY(-20px);
  z-index: 3;
}
.card:nth-child(4) {
  transform: translateZ(-150px) translateY(-30px);
  z-index: 2;
}
.card:nth-child(5) {
  transform: translateZ(-200px) translateY(-40px);
  z-index: 1;
}

button {
  display: block;
  margin: 50px auto 0 auto;
  padding: 10px 1.5em;
  color: #ffffff;
  background: transparent;
  font-size: 18px;
  text-align: center;
  border: #ffffff solid 2px;
  border-radius: 2em;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.knapper button:hover {
  background: white;
  color: black;
}

h3 {
  color: #666;
  margin-top: 20px;
}
