/* Mit store  HERO billede*/
.hero {
  position: relative;
  min-height: 70vh;
  display: grid;
  align-items: start;
  overflow: hidden;
}

.hero-section {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
