/*          Hero section styling      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); giver en underlig skygge*/
  object-fit: cover;
}

/*            SVG logos STYLING AND SIZE */

.logo svg {
  width: 100px;
  height: 100px;
  object-position: left;
  padding: 0 0 0 1em;
}

/*        specifik indstilling til første billede på forside */

.forsidefoto img {
  height: 400px;
  margin: auto;
  display: block;
  align-content: center;

  max-width: fit-content;
}

.forsidefoto img {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 1em;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  margin: auto;
  padding: 10px 1.5em;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  border: #ffffff solid 2px;
  border-radius: 2em;
  font-family: "Courier New", Courier, monospace;
}

.menu a:hover {
  background: white;
  color: black;
}

.burger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between; /* Dette er vigtigt! */
  background-color: transparent;
  border: none;
  padding: 0; /* Fjern eventuelt default padding */
}

.burger .line {
  display: block;
  width: 100%;
  height: 3px; /* Gør dem lidt tykkere så de er lettere at se */
  background-color: #ffffff;
  transition: 0.2s linear;
}

/* 
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;

  min-height: 20px;
  flex-direction: column;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
} */
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #000;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*      NY MENU STYLING  */

.hero {
  position: relative;
  height: 70vh;

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* overlay som rigtigt element */
.overlay {
  display: none;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.hero h1 {
  position: relative;
  color: white;
  font-size: 7em;
  font-family: blow brush;
  z-index: 1;
  margin: auto;
  padding: 1em;
}
.samtekst h1 {
  margin-bottom: 0;
}

/*                styling of second image            */

/* img {
  display: block;
  margin: 0 auto 2em;  */
/* tilføjet til auto setting, så billede ikke går ud over fældt. */
/* max-width: fit-content;
  max-width: 100%;
  height: auto;
} */
/* 
#second img {
  width: 400px;
}

#third img {
  width: 700px;
  margin-top: 2em;
} */
