.box01 img {
  padding: 2em;
}

/* Billede styling */
.forsidefoto {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.forsidefoto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.box02 {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* 
.box02 img {
  width: 80%;
  height: auto;
  border-radius: 8px;
} */

/* Desktop billeder */
@media screen and (min-width: 801px) {
  .box02 img {
    width: 100%;
  }
}
