/*            TYPOGRAFI & SKRIFTTYPE         */

@font-face {
  font-family: kugile;
  src: url(../fonts/kugile/Kugile_Demo.ttf);
}

@font-face {
  font-family: brillant;
  src: url(../fonts/fonts/brillant/brillant.otf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/inter/Inter-Italic.otf);
}

@font-face {
  font-family: Alumni Sans Pinstripe, stroke;
  src: url(../fonts/Alumni_Sans_Pinstripe\BBH_Sans_Bartle\Radio_Canada_Big\Ramabhadra/);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: barcode;
  src: url(../fonts/code-2-of-5-interleaved/code25I.ttf);
}

@font-face {
  font-family: bastliga one;
  src: url(../fonts/fonts/bastliga-one/Bastliga\ One.ttf);
}

@font-face {
  font-family: blow brush;
  src: url(../fonts/fonts/blowbrush/blowbrush.ttf);
}

@font-face {
  font-family: moralana;
  src: url(../fonts/fonts/moralana/Moralana\ DEMO.otf);
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

svg {
  width: 50ch;
}

h1 {
  font-family: moralana;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 60px 20px 20px;
  margin: 0;
  font-size: clamp(2rem, 4vw, 4rem);
}

.hvid h1 {
  font-family: moralana;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0px;
}

.overlap h2,
.overlap p {
  color: white;
}

h3 {
  font-family: brillant;
  text-align: center;
  color: rgba(0, 0, 0, 8);
  padding: 20px;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

.andenlys h3 {
  font-family: brillant;
  text-align: center;
  color: rgba(255, 255, 255, 8);
}

p {
  font-family: Montserrat;
  text-align: center;
  color: rgba(0, 0, 0, 8);
  max-width: 80ch;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: rgb(1, 1, 2);
  line-height: 1.8;
  text-align: center;
}

.lys p {
  font-family: Montserrat;
  text-align: center;
  color: rgba(0, 0, 0, 8);
  max-width: 80ch;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: rgb(203, 203, 204);
  line-height: 1.5;
  text-align: left;
}

.cite p {
  text-align: center;
}

.info p {
  align-content: center;
}

/* Desktop - centreret tekst */
@media screen and (min-width: 801px) {
  .centermig p {
    text-align: center;
    margin: 0;
  }
  p {
    text-align: left;
    margin: 0;
  }
}

/* Mobil specifik styling */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
    padding: 40px 20px 20px;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }
}
