/* Mit store  HERO billede*/
.hero {
  position: relative;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-section {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

/*        Header placering */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

/*      farve baggrund til section */
.bon {
  background-color: #2e0d14;
}

/* Sections med padding */
/* section {
  padding: 60px 20px;
} */
/*    til min proces knap info */
.tilbage-link {
  display: inline-block;
  padding: 15px 40px;
  background-color: transparent;
  border: solid 1.5px;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 40px;
}

@media screen and (max-width: 800px) {
  .hero {
    min-height: 50vh;
  }

  section {
    padding: 40px 20px;
  }
}
.beskrivelse p {
  text-align: center;
}
